/*bermellón: #ff3600;*/
@import url("https://fonts.googleapis.com/css?family=Nova+Cut");
@import url('https://fonts.googleapis.com/css?family=Nova+Square');

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  font-family: "Nova Cut", cursive;
  max-height: 100%;
  overflow: hidden;
  color: #ff3600;
}
canvas {
  display: none;
  border: 4px solid #ff3600;
}
h1{
  font-family: "Nova Cut", cursive;
  font-size: 60px;
}
h3{
  font-size: 20px;
}
p {
  display: inline-block;
  text-align: center;
}
#window {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid #000;
}
.data {
  display: flex;
  justify-content: center;
  align-content: center;
}
.data-top {
}
.data-h-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.data-right {
  width: 50px;
  writing-mode: vertical-rl;
    text-orientation: mixed;
}
.data-left {
  width: 50px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}
.data-bottom {
}
aside{
  color: white;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.white{
  color: white;
}
#cheat-sheet p{
  margin: 5px;
  font-size: 12px;
}
#thriller p{
  font-size: 5px;
}
aside p{
  text-align: left;
}
#intro{
  color: black;
  border: 4px solid #ff3600;
  background-image: url("../img/cover.png");
  width: 550px;
  height: 550px;
  margin: 0;
  text-align: center;
  font-family: 'Nova Square', cursive;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}
#intro p{
  padding-left:20px;
  padding-right:20px;
  padding-bottom:15px;
  margin:5px;
}
#keys{
  font-family: 'Nova Square', cursive;
  font-size:13px;
}
#welcome{
  font-family: 'Nova Square', cursive;
  font-size:13px;
}

.larger{
  font-size:16px;
}
